# Database
DATABASE_URL="postgresql://hakaton_user:hakaton_password@localhost:5433/hakaton_db"

# Server
PORT=3003
NODE_ENV=development

# Security Keys
ADMIN_SECRET_KEY="your-admin-secret-key-here"
SYSTEM_SECRET_KEY="your-system-secret-key-here"

# Role IDs (получаются после создания ролей)
ADMIN_ROLE_ID="uuid-роли-админа"
ORGAN_CONTROL_ROLE_ID="uuid-роли-госоргана"

# MinIO (for chat module)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=chat-files
